* {
    color: black;
    background-color: #87A0C0;
}
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height:100vh;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

.form {
    margin-left: 3%;
}

button {
    color: black;   
    margin: .25%;
    background-color: white;
}

div.button {
    margin-left: 3%;
    gap: 10px;
    display: grid;
    grid-template-columns:64px 64px;
    min-width: 32px;
    
}

hr {
    border: none;
    height: 2px;
    background-color: #eee;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;

}