* {
    color: black;
    background-color: #87A0C0;
    font-family:cursive;
    text-align: center;
}

html {
    height: 100%;
    margin: 0;
}

body {
    margin-left: .5vw;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.create {
    margin-top: 15px;
}

input {
    background-color: #ddd;
    text-align: left;
}


button {
    color: black;   
    margin: .25%;
    text-align: center;
    background-color: white;
}

.invis {
    border: none;
    height: 0px;
    margin: 2px;
}

hr {
    border: none;
    height: 2px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    width:30vw;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.git {
    margin-left:3%;
}