* {
    color: black;
    background-color: #87A0C0;
}
html {
    height: 100%;
    margin: 0;
}

body {
    margin-left: .5vw;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

.form {
    margin-left: 3%;
}

.create {
    margin-left: 3%;
    margin-top: 15px;
}

input {
    background-color: #ddd;
}


button {
    color: black;   
    margin: .25%;
    background-color: white;
}

div.button {
    margin-left: 3%;
    gap: 10px;
    display: grid;
    grid-template-columns:64px 64px;
    min-width: 32px;
    
}

.invis {
    border: none;
    height: 0px;
    margin: 2px;
}

hr {
    border: none;
    height: 2px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    width:98vw;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}