.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    color: black;
    background-color: #87A0C0;
    font-family: 'Delius';
    text-align: center;
}

html {
    height: 100%;
    margin: 0;
}

main {
    margin-bottom: 75px;
}

h1 {
    text-align: center;
    background-color: #87A0C0;
}

a {
    text-align: center;
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.create {
    margin-top: 15px;
}

input {
    background-color: #ddd;
    text-align: left;
}

button {
    color: black;   
    margin: .25%;
    text-align: center;
    background-color: white;
}

.invis {
    border: none;
    height: 0px;
    margin: 2px;
}

hr {
    border: none;
    height: 3px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    width:30vw;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    text-align: center;
}

#git {
    text-align:center;
}

.hobbies {
    margin-top: 15px;
    margin-bottom: 0px;
}

ul {
    align-items: center;
    list-style: none;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.form label {
    font-weight: bold;
}